{
  "presets": ["next/babel"],
  "plugins": [
    [
      "css-modules-transform", {
        "extensions": [".css", ".sass"],
        "append": [ "postcss-cssnext" ],
        "extractCss": "./src/static/css/bundle.css",
        "preprocessCss": "./src/pre-processor.js"
      }
    ],
    [
        "module-resolver", {
          "root": [ "./" ]
        }
    ]
  ]
}
